wheel
aiofiles
buttons==0.1.9
discord.py @ git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus
googletrans==3.1.0a0
humanize
jishaku
motor
parsedatetime
pillow
psutil
python-dateutil
requests